.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    background: transparent;
    transition: all .2s ease;
    border: none;
    cursor: pointer;

    &:hover{
        background: var(--lightShadow);
        transform: scale(1.005);
    }
}

.arrowRight{
    composes: arrow;
    right: 0;
    
    &::after{
        content: '';
        width: 30px;
        height: 30px;
        border-top: 3px solid white;
        border-right: 3px solid white;
        transform: rotate(45deg) translateX(-10px);
    }
}