.slider{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: red;
}

.slidesWrapper{
    height: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
}