.labelOptions{
    display: flex;
    font-size: 1.1rem;
    align-self: center;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.options{
    font-size: 1.1rem;
    align-self: center;
    text-transform: lowercase;
    display: flex;
}