.wrapper{
    grid-column: 2/-1;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
}

.clickable{
    cursor: pointer;
    transition: all .2s ease;
    margin-left: 2rem;
    color: var(--lightGrey);

    &:hover{
        color: var(--formBlue);
    }
}

