.wrapper{
    grid-column: 2/-1;
    grid-row: 2/-1;
}

.favouritesListBtn{
    margin-left: .5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    border: 1px solid var(--lightGrey);
    background: transparent;
    transition: all .2s ease;
    text-transform: uppercase;
    cursor: pointer;
    
    &:hover{
        // background: var(--formBlue);
        border: 1px solid var(--formBlue);
        box-shadow: var(--boxShadowTemplate);
        transform: translateY(-2px);
    }

    &:hover > .favIcon{
        transform: scale(1);
    }

    &:hover > p{
        color: var(--formBlue);
    }

    & > * {
        margin: 0 .4rem;
        color: var(--lightGrey);
    }

    &:focus{
        outline: none;
    }

}

.favIcon{
    height: 100%;
    transition: all .2s ease;
    fill: red;
    transform: scale(.9);
}