.title{
    height: 2rem;
    font-size: 1.8rem;
    line-height: 1;
    margin: auto;
    text-align: center;
    color: var(--lightGrey);
    position: relative;
    transition: all .2s ease;

    &::after{
        height: 1px;
        width: 80%;
        content: '';
        background: var(--formBlue);
        position: absolute;
        bottom: -10%;
        left: 10%;
    }

    &:hover{
        color: white;
    }
}