.wrapper{
    grid-column: 2/-1;
    grid-row: 2/-1;
}

.searchElement{
    display: flex;
    position: relative;
    height: 2rem;
    align-items: center;
}

.searchBar{
    z-index: 2;
    height: 100%;
    background: transparent;
    padding-right: 1.8rem;
    padding-left: .3rem;
    transition: all .3s ease;
    color: var(--lightGrey);
    border: 1px solid var(--lightGrey);
    box-shadow: 0 0 3px 1px var(--primDark);
    
    &:hover{
        box-shadow: var(--boxShadowTemplate);
        border: 1px solid var(--formBlue);
    }
    
    &:focus{
        box-shadow: var(--boxShadowTemplate);
        border: 1px solid var(--formBlue);
    }
    
    &:hover ~ .searchIcon{
        right: .6rem;
        color: var(--formBlue);
    }
    
    &:focus ~ .searchIcon{
        right: .6rem;
        color: var(--formBlue);
    }

    &::placeholder{
        color: var(--darkGrey);
    }
}

.searchIcon{
    z-index: 1;
    height: 1.3rem;
    width: 1.3rem;
    position: absolute;
    right: .3rem;
    transition: all .3s ease;
    user-select: none;
    color: var(--lightGrey);
}
