.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90;
    font-size: 2rem;
}

.wrapperFilters{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    z-index: 90;
    font-size: 1rem;
}