.results{
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    background: white;
    position: fixed;
    // position: absolute;
    // overflow: scroll;
    top: 0;
    right: 0;
    padding: 120px 30px 20px 30px;
    box-shadow: -3px 4px 12px var(--darkShadow);
}