/* @import url('https://fonts.googleapis.com/css?family=Lato:400,700'); */
@import url('https://fonts.googleapis.com/css?family=Caveat:700|Kalam|Lato:400,700');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-size: 1.1rem;
  line-height: 1.5;
}

a{
  color: black;
  text-decoration: none;
}

/* global variables */
:root{
  --purple: hsl(241, 43%, 44%);
  --arcticBlue: hsl(218, 10%, 85%);
  --baige: hsl(30, 7%, 78%);
  --darkGrey: hsl(0, 2%, 41%);
  --lightGrey: hsl(0, 0%, 72%);
  --serenity: #92A8D1;
  --rose: #F7CAC9;

  --lightShadow: hsla(0, 0%, 0%, 36%);
  --darkShadow: hsla(0, 0%, 0%, 50%);

  --boxShadowTemplate: 2px 4px 12px var(--lightShadow);
}